<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Pediatric Wrist Anomaly Detection</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link
      href="{{ url_for('static', filename='assets/img/favicon.png')}}"
      rel="icon"
    />
    <link
      href="{{ url_for('static', filename='assets/img/apple-touch-icon.png')}}"
      rel="apple-touch-icon"
    />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link
      href="{{ url_for('static', filename='assets/vendor/fontawesome-free/css/all.min.css')}}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='assets/vendor/animate.css/animate.min.css')}}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='assets/vendor/aos/aos.css')}}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='assets/vendor/bootstrap/css/bootstrap.min.css')}}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='assets/vendor/bootstrap-icons/bootstrap-icons.css')}}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='assets/vendor/boxicons/css/boxicons.min.css')}}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='assets/vendor/glightbox/css/glightbox.min.css')}}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='assets/vendor/swiper/swiper-bundle.min.css')}}"
      rel="stylesheet"
    />

    <!-- Template Main CSS File -->
    <link
      href="{{ url_for('static', filename='assets/css/style.css')}}"
      rel="stylesheet"
    />
  </head>

  <body>
    <!-- ======= Header ======= -->
    
    <!-- End Header -->

    <!-- ======= Hero Section ======= -->
    
    <!-- End Hero -->

    <main id="main">
      <!-- ======= Featured Services Section ======= -->
     

      <!-- ======= Cta Section ======= -->
      


      <!-- ======= Counts Section ======= -->
      
      <!-- End Counts Section -->

      <!-- ======= Services Section ======= -->
      
      <!-- End Services Section -->

      <!-- ======= Appointment Section ======= -->
      <section id="appointment" class="appointment section-bg">
        <div class="container" data-aos="fade-up">
          <div class="section-title">
            <h2>DIAGNOSE X-RAY IMAGE</h2>
            <p>
             
            </p>
          </div>

          <form
            action="/predict"
            method="post"
            enctype="multipart/form-data"
            class="php-email-form"
            id="form-for-prediction"
          >
            <div class="row">
              <!--  -->

            <div class="col-md-12 form-group outer-div-image">
              <div>
                <input
                  class="btn"
                  name="input-image"
                  type="file"
                  id="fileInput"
                  accept=".png, .jpg, .jpeg"
                  required
                />
                <br />
                <div id="fileInputContainer">
                  <h5 class="image-text">Choose an image</h5>
                </div>
              </div>

              <div id="preview"></div>
            </div>
            <div class="loaderOfImage"></div>

            <div class="text-center">
              <button type="submit">Make a Prediction</button>
            </div>
          </form>
        </div>
      </section>
      <!-- End Appointment Section -->

      <!-- ======= Departments Section ======= -->
      
      <!-- End Departments Section -->

      <!-- ======= Doctors Section ======= -->
      
      <!-- End Doctors Section -->

      <!-- ======= Gallery Section ======= -->
      
      <!-- End Gallery Section -->

      <!-- ======= Frequently Asked Questioins Section ======= -->
      
      <!-- End Frequently Asked Questioins Section -->

      <!-- ======= Contact Section ======= -->
      
      <!-- End Contact Section -->
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    
    <!-- End Footer -->

    <div id="preloader"></div>
    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <!-- Vendor JS Files -->
    <script src="{{ url_for('static', filename='assets/vendor/purecounter/purecounter_vanilla.js')}}"></script>
    <script src="{{ url_for('static', filename='assets/vendor/aos/aos.js')}}"></script>
    <script src="{{ url_for('static', filename='assets/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{ url_for('static', filename='assets/vendor/glightbox/js/glightbox.min.js')}}"></script>
    <script src="{{ url_for('static', filename='assets/vendor/swiper/swiper-bundle.min.js')}}"></script>

    <!-- Template Main JS File -->
    <script src="{{ url_for('static', filename='assets/js/main.js')}}"></script>
    <script src="{{ url_for('static', filename='assets/js/upload-image.js')}}"></script>
  </body>

  <script>
    let visitCount = parseInt(localStorage.getItem("visitCount")) || 0;

    visitCount++;
    localStorage.setItem("visitCount", visitCount);

    document
      .querySelector(".purecounter")
      .setAttribute("data-purecounter-end", visitCount);
  </script>
</html>
